
//Colors
@white : #FFFFFF;
@black: #333333;
@orange: #FF5501;
@darkGray: #575757;
@mediumGray: #C2C2C2;
@lightGray: #F9F9F9;

@product-info-price: @darkGray;

.action.primary.tocart {
    background-color: @orange;
    width:100%;
    height:100%;
    border: 0px;
}

.box-tocart .action.tocart:not(:last-child){
    margin-bottom: 40px;
}
.page-title {
    text-align: left;
    font: normal normal 600 32px/43px Open Sans;
    letter-spacing: 0px;
    color: @black;
    opacity: 1;
}

.product-info-main .rating-summary, .customer-review .rating-summary{
    margin-right:6.5px;
}

.action.view {
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: @orange;
}

.product-reviews-summary .reviews-actions a:not(:last-child){
    margin-right:20px;
}

.action.add {
    width:117px;
    height:28px;
    border-radius:2px;
    border: 1px solid @black;
    padding: 6px 10px 5px;
    color: @black;
    font: normal normal 600 12px/17px Open Sans;
}

.attribute-container {
    background-color: @lightGray;
    padding:20px;
}

.short-description {
    text-align: left;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: @black;
    padding-left: 40px;
}

.qty-row{
    display:flex;
    height:52px;
    width:190px;
    margin-bottom: 0px;
}

#qty{
    height:100%;
    width:86px;
    border-right: 0px;
    border-left: 0px;
}

.control{
    height: 100%;
}

.qty-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:52px;
    border: 1px solid @mediumGray;
    font-size:17px;
    font-weight: bold;
}

.qty-button.increment {
    color: @orange;
    background-color: white;
    border-radius:0px;
}

.qty-button.decrement {
    color: @black;
    background-color: white;
    border-radius:0px;
}

.qty-button.increment:hover, .qty-button.decrement:hover {
    background-color: @lightGray;
}

.upsell-divider {
    height:1px;
    background-color: @mediumGray;
    width:100%;
}

.view-upsell-product {
    background: @black;
    border-radius:2px;
    width:109px;
    height:32px;
    font: normal normal 600 14px/19px Open Sans;
    letter-spacing: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    text-decoration: none !important;
}

.upsell-row {
    display: flex;
    width:100%;
    justify-content: space-between;
    vertical-align: middle;
}
.upsell-image {
    width:25%;
}
.name-rating-price {
    padding-left: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:50%;
}
.view-product-div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width:25%;
    text-align: right;
}
.upsell-name {
    font: normal normal 600 16px/22px Open Sans;
    margin-bottom: 4px;

}
.normal-price {
    font: normal normal 600 18px/24px Open Sans !important;
}
.products {
    margin-top:10px;
}
.product-reviews-summary {
    margin-bottom: 25px;
}

.product-info-price {
    display:flex !important;
    flex-direction: row;
    border-bottom: 0px !important;
}
.product.attribute.sku{
    display:flex !important;
    margin-left: 16px;
    align-items: center;
}

.product-info-main.product-info-price.price-box{
    vertical-align: middle;
}

.product-info-main .product-info-price .price-box .price-container > span{
    margin-bottom: 0px;
}
.product-options-bottom .price-box, .product-info-price .price-box{
    padding-bottom: 0px;
}
.in-stock-normal {
    padding-left: 5px;
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: @black;
}
.product-info-main .stock.available, .product-info-main .stock.unavailable{
    margin-left: 20px;
    text-transform: none;
    display: flex; /* Enable flexbox */
    align-items: center; /* Align items vertically */

}

.qty-stock-row{
    display: flex;
    justify-content: start;
    vertical-align: middle;
    margin-bottom: 20px;
}

.product-item-info {
    width:224px !important;
    height:444px;
}

.products {
    margin-top: 0px;
}

.image-center {
    display:flex;
    justify-content: center;
}

.product-item-link {
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0px;
}
.abs-product-link > a:visited, .product-item-name > a:visited, .product.name a > a:visited{
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0px;
}
.product-item .price-box .price{
    font: normal normal bold 22px/30px Open Sans;
    letter-spacing: 0px;
}

.related-item-div{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions-primary{
    width:204px;
    height:52px;
    display:flex !important;
    justify-content: center;
    margin:auto;
}

form {
    width:100%;
    height:100%;
}

.related-add-to-cart{
    font: normal normal 600 18px/24px Open Sans;
    letter-spacing: 0px;
}

#block-related-heading{
    font: normal normal 600 24px/33px Open Sans;
    letter-spacing: 0px;
}
#block-upsell-heading{
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0px;
}

.page-layout-1column .products-grid .product-item {
    margin-left:15px;
    margin-right:15px;
    width:224px !important;
}

.text-rating-price{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.products-grid .product-item-info:hover, .products-grid .product-item-info.active{
    background: #fff;
    box-shadow: 0 0 11px rgba(33,33,33,.25) !important;
    padding:0px;
    border: 0px;
    transform: translate(10px, 10px);
}
.related-add-to-cart-button{
    display: none;
}
.product-item-info:hover .related-add-to-cart-button{
    display: block;
}

.product-item:first-child .related-add-to-cart-button{
    display: block;
}

.products .product-item:first-child {
    background: #fff;
    box-shadow: 0 0 11px rgba(33,33,33,.25) !important;
}

.products-related {
    margin-top: 15px !important;
}
